.dashboard-container {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    max-height: 99vh; /* Hauteur maximale de 80% de la hauteur de la vue */
    overflow-y: auto; /* Active le défilement vertical */
    padding: 20px; /* Ajoute un peu de remplissage */
    border: 1px solid #d3d3d3; /* Optionnel : ajouter une bordure */
    border-radius: 8px; /* Optionnel : arrondir les coins */
    background-color: #fff;
}

.dashboard-title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 20px;



}

.table-container {
    width: 100%;
    overflow-x: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    padding: 12px;
    text-align: center; /* Centered text for both th and td */
    color: black;
}

th {
    background-color: #007bff;
    color: black; /* Changed text color of th to white for better contrast */
}

td {
    border-bottom: 1px solid #dee2e6;
}

tr:hover {
    background-color: #f1f3f5;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
}

.form-group {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control {
    width: 100%;
}
label {
    display: block;
    height: 50%;
    text-align: center;
}

input[type="date"],
select {
    text-align: center; /* Centre le texte dans les champs de saisie et de sélection */
}
