.filcont {
        background-color: #e0e0e0;
        padding: 10px 25px;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 100%;
        margin:30px;
      }

      .filtRow {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: end;
        gap: 15px;
        margin-bottom: 10px;
      }
      .filItem {
        flex: 1 1 150px;
        display: flex;
        flex-direction: column;
      }
      label {
        font-weight: bold;
        margin-bottom: 5px;
      }
      input,
      select,
      .butn123 {
        padding: 8px;
        border: 2px solid #d7d4d4;
        border-radius: 8px;
        background-color: #f7f7f7;
      }
      .butn123 {
        cursor: pointer;
        background-color: #666671;
        color: white;
        transition: background-color 0.3s;
        margin-left: 15px;
      }
      .butn123:hover {
        background-color: #324690;
      }
      .butn123 {
        padding: 6px 8px;
        border: 1px solid #d7d4d4;
        border-radius: 8px;
        cursor: pointer;
        background-color: #666671;
        color: white;
        transition: background-color 0.3s;
        margin-left: 15px;
      }
      .butn123:hover {
        background-color: #324690;
      }
      .ta-BLE {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        text-align: center;
      }

      .enAtteNt {
    background-color: #C8C8CE;
    color: #5a5a5a;
    letter-spacing: 1px;
    font-style: italic;
    border: 1px #e3e0e0 solid;
}
      .annul {
        background-color:#FB2C36;

        color:#000000;
        border: 1px #e3e0e0 solid;
        letter-spacing: 1px;
      }

       .rejeté {
        background-color:
                      #ffff00;
        border: 1px #e3e0e0 solid;
        letter-spacing: 1px;
      }
      .CONFirme {
        background-color:#B7DAF7;

        border: 1px #e3e0e0 solid;
        letter-spacing: 1px;
      }

      .ta-BLE tr:hover {
        background-color: #ffffff;
        letter-spacing: 1px;
      }
      .ta-BLE tbody tr:hover {
        background-image: linear-gradient(to right, #ffffff, #ffffff);
        transition: background-color 0.1s;
        letter-spacing: 1px;
      }

      .resulspan{
text-align: right;
width: 80%;

      }


      .pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
}

.items-per-page select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
.tiret-transparent {
    color: transparent;
}
