.o_gantt_view_reservation .fc-timeline-slot {
    border: 2px solid #666363 !important;
}

.o_gantt_view_reservation .fc-timeline-lane.fc-resource-group.fc-cell-shaded {
    background: #666363 !important;
    // z-index: 10;
}
.o_gantt_view_reservation .fc-resource-timeline-divider.fc-cell-shaded {
    background: #666363 !important;
}

.o_gantt_view_reservation .o_calendar_renderer .fc .fc-timeline-event-harness {
    opacity: 80%;
}

// ===============  Generate color classes ===============
// No repeating-linear-gradient
@for $i from 1 through length($o-colors-complete) {
    $color: nth($o-colors-complete, $i);
    .o_gantt_view_single_color_bar.o_gantt_view_reservation
        .o_calendar_renderer
        .fc-view {
        .o_calendar_color_#{$i - 1} {
            &.fc-event {
                $color-subdle: mix($color, white, 60%);
                // background: lighten($color-subdle, 6%) !important;
                // background-color: rgba(lighten($color-subdle, 6%) , 0.2) !important;
                background-color: rgba($color, 0.6) !important;
                border: unset !important;
            }
        }
    }
}
